asgiref==3.6.0
attrs==22.2.0
bpytop==1.0.68
cffi==1.15.1
cryptography==40.0.1
distlib==0.3.6
Django==4.2.1
django-cors-headers==4.0.0
djangorestframework==3.14.0
docstring-to-markdown==0.12
filelock==3.11.0
greenlet==2.0.1
jedi==0.18.2
msgpack==1.0.4
packaging==23.0
parso==0.8.3
platformdirs==3.2.0
pluggy==1.0.0
ply==3.11
psutil==5.9.5
pycparser==2.21
PyGObject==3.44.1
pynvim==0.4.3
pyparsing==3.0.9
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
pytz==2023.3
ranger-fm==1.9.3
sqlparse==0.4.4
tk==0.1.0
ujson==5.7.0
virtualenv==20.21.0
