{% extends "layout.html" %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">


  <div class="header">
    <div class="header-primary">
      we provide the best beauty products
    </div>
    <div class="header-secondary">
      these are the latest products added to our shop
    </div>
  </div>


  <div class="products-wrapper">

    {% for product in products %}
      <div class="product-container" onclick="navigateToProductPage('{{ product.id }}')">
        <img src="{{ url_for('static', filename='productImg/'+product.imgs[0]) }}" alt="product-image">
        <div class="product-info">
          <div class="product-name">
            {{ product.name }}
          </div>
          <div class="product-description">
            {{ product.description }}
          </div>
          <div class="product-price">
            $ {{ product.price }}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  <script>
    function navigateToProductPage(productId){
      window.location.href=`${window.location.origin}/productPage/${productId}`
    }
  </script>
  
{% endblock content %}