{% extends "layout.html" %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/productPage.css') }}">

  <div class="product-wrapper">

    <div class="img-container">
      <img id="product-img-display" src="{{ url_for('static', filename='productImg/'+product.imgs[0]) }}" alt="product-image">
      <div class="img-selector-container">
        {% if product.imgs|length > 1 %}
          {% for img in product.imgs %}
            {% if loop.index == 1 %}
                <div class="img-selector" id="img-selector-{{ loop.index }}" onclick="showImg('img-selector-{{ loop.index }}', `{{ url_for('static', filename='productImg/'+img) }}`)" style="background-color: var(--text-color-primary);"></div>
              {% else %}
                <div class="img-selector" id="img-selector-{{ loop.index }}" onclick="showImg('img-selector-{{ loop.index }}', `{{ url_for('static', filename='productImg/'+img) }}`)"></div>
              {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="shop-info-container">

      <div class="general-info">
        <div class="product-name">{{ product.name }}</div>
        <div class="star-rating-wrapper">
          <div class="star-rating">
            {% for n in range(1, product.rating+1) %}
              <i class='bx bxs-star' style='color:var(--text-color-primary)'></i>
            {% endfor %}
            {% for n in range(5-product.rating) %}
              <i class='bx bxs-star' style='color:var(--text-color-secondary)'></i>
            {% endfor %}
          </div>
        </div>
        <div class="product-short-description">{{ product.description }}</div>
        <div class="voting-numbers">
          ({{ product.reviewsNumber }} Reviews)
        </div>
      </div>

      <div class="buy-info">
        <div class="product-price">{{ product.price }} $</div>
        <div class="buy-action">
          <input type="number" step="1" min="0" max="100" value="0">
          <button class="add-to-Cart">Add To Cart</button>
        </div>
      </div>

      <div class="product-description">
        <div class="product-description-menu">
          <div id="product-description-button" class="product-description-menu-item description-selected" onclick="showDescription('description')">Description</div>
          <div id="product-ingredients-button" class="product-description-menu-item" onclick="showDescription('ingredients')">Ingredients</div>
        </div>
        <div class="product-description-text" id="product-description">{{ product.fullDescription }}</div>
        <div class="product-description-text" id="product-ingredients" style="display: none">{{ product.ingredients }}</div>
      </div>

    </div>

  </div>

  <script>
    function navigateToProductPage(productId){
      window.location.href=`${window.location.origin}/productPage/${productId}`
    }

    function showDescription(description){
      let productDescription = document.getElementById("product-description");
      let productIngredients = document.getElementById("product-ingredients");
      let productDescriptionButton = document.getElementById("product-description-button");
      let productIngredientsButton = document.getElementById("product-ingredients-button");

      if (description === "description"){
        productDescription.style.display = "grid";
        productIngredients.style.display = "none";
        productDescriptionButton.style = "border-bottom: 2px solid var(--text-color-primary); color: var(--text-color-primary)";
        productIngredientsButton.style = "border-bottom: 2px solid var(--text-color-secondary); color: var(--text-color-secondary)";
      }else if(description === "ingredients"){
        productDescription.style.display = "none";
        productIngredients.style.display = "grid";
        productDescriptionButton.style = "border-bottom: 2px solid var(--text-color-secondary); color: var(--text-color-secondary)";
        productIngredientsButton.style = "border-bottom: 2px solid var(--text-color-primary); color: var(--text-color-primary)";
      }
    }

    function showImg(imgSelectorId, imgSrc){
      let imgSelectors = document.getElementsByClassName("img-selector");
      for (let i=0 ; i<imgSelectors.length ; i++){

        imgSelectors[i].style.backgroundColor = "var(--text-color-secondary)";
      }
      let imgSelector = document.getElementById(imgSelectorId);
      imgSelector.style.backgroundColor = "var(--text-color-primary)";
      let imgDisplay = document.getElementById("product-img-display");
      imgDisplay.src = imgSrc;
    }
  </script>
  
{% endblock content %}