.product-wrapper {
  display: grid;
  margin-top: 5em;
  padding: 1em;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}


.img-container {
  display: grid;
  place-items: center;
  position: relative;
}

.img-container img {}

.img-selector-container {
  position: absolute;
  bottom: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.img-selector {
  width: 0.6em;
  height: 0.6em;
  border-radius: 100%;
  background-color: var(--text-color-secondary);
  cursor: pointer;
}







.shop-info-container {
  height: 75%;
  display: grid;
  place-items: center;
  background-color: var(--bg-prev-color);
  border-radius: var(--border-radius);
  height: 100%;
  grid-template-rows: 1fr 1fr 1.5fr;
}

.general-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 4em;
  width: 90%;
}

.general-info div {
  padding-right: 1em;
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
  display: grid;
  justify-content: start;
  place-items: center;
}

.product-short-description {
  color: var(--text-color-secondary);
  display: grid;
  justify-content: start;
  place-items: center;
}

.product-rating {
  display: grid;
  place-items: center;
}

.star-rating-wrapper {
  width: 100%;
  display: grid;
  justify-content: end;
}

.star-rating {
  text-align: right;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  max-width: 5.5em;
}

.voting-numbers {
  color: var(--text-color-secondary);
  display: grid;
  justify-content: end;
  place-items: center;
}




.buy-info {
  display: grid;
  place-items: center;
  grid-template-columns: 1.5fr 1fr;
  width: 90%;
}

.product-price {
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  width: 100%;
}

.buy-action {
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 100%;
  gap: 0.6em;
}

.buy-action input {
  max-width: 5em;
  width: 5em;
  text-align: center;
  border-radius: var(--border-radius);
  border: none;
  outline: 1px solid var(--text-color-secondary);
}

.buy-action button {
  height: 4em;
  border-radius: var(--border-radius);
  border: none;
  color: var(--bg-prev-color);
  background-color: var(--text-color-primary);
  padding-left: 1em;
  padding-right: 1em;
}


.buy-action button:hover {
  color: var(--text-color-primary);
  background-color: var(--bg-prev-color);
  outline: 1px solid var(--text-color-primary);
}

.buy-action button:active {
  color: var(--bg-prev-color);
  background-color: var(--text-color-secondary);
  outline: 1px solid var(--text-color-primary);
}

.product-description {
  width: 90%;
  height: 100%;
  margin-top: 3em;
}

.product-description-menu {
  display: grid;
  color: var(--text-color-secondary);
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin-bottom: 0.5em;
}

.product-description-menu-item {
  width: 80%;
  border-bottom: 2px solid var(--bg-prev-color);
  border-bottom: 2px solid var(--text-color-secondary);
  padding-bottom: 0.2em;
  cursor: pointer;
}

.product-description-text {
  width: 90%;
  display: grid;
  color: var(--text-color-secondary);
}

.description-selected {
  color: var(--text-color-primary);
  border-bottom: 2px solid var(--text-color-primary);
}